* {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.56);
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
}

h4 {
  font-size: 1.4em;
  font-weight: 500;
}

p {
  font-size: 1.4em;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
}

h6 {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  flex: 0 0 auto;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

i {
    color: rgba(0, 0, 0, .56);
}

i:hover {
    color: rgba(0, 0, 0, .87);
}

/* Test FullPage - Parallax */

html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  left: 20vw;
  width: 80vw;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:first-child {
  background-image: url(../img/kimon-maritz-183501-min.jpg);

  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(../img/alesia-kazantceva-283291-min.jpg);
}
.background:nth-child(3) {
  background-image: url(../img/igor-son-285029-min.jpg);
}
.background:nth-child(4) {
  background-image: url(../img/matthew-kane-278419-min.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}
.background:nth-child(2) {
  z-index: 3;
}
.background:nth-child(3) {
  z-index: 2;
}
.background:nth-child(4) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
 /* End Test Parallax */

.js #preloader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #eee;
  text-align: center;
  line-height: 100vh;
}

.fp-tableCell {
  height: 100% !important;
}

.fp-section {
  display: flex;
}

.divider {
  height: 1px;
  margin-top: 25px;
  background-color: rgba(0,0,0,0.26);
  margin-bottom: 25px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

#side {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 20vw;
  height: 100vh;
  background-color: #FFF;
  min-width: 200px;
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, .24);
}

#logo {
  display: flex;
  margin-top: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.custom_menu_width {
  width: 175px;
  margin-top: 70px;
}

#social_container {
  display: flex;
  align-items: flex-end;
  width:175px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  flex: 1;

}

.content {
  box-shadow: rgba(0, 0, 0, 0.239216) 0px 39px 56px 4px;
  border-radius: 3px;
}

.avatar {
  width: 175px;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .26)
}

.thumbnail {

  max-width: 450px;
  max-height: 450px;
}

.name_main {
  margin-top: 25px;
}

.name_sub {
  margin-top: 10px;
}

.menu_link {
  color: rgba(0, 0, 0, .56);
  transition: color 0.3s ease;
}

.pure-menu-link:hover {
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

.pure-menu-link.active {
  color: rgba(0, 0, 0, .87);
}

.social_links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.contactme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  color: rgba(0, 0, 0, .56);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-content: center;
}

.content {
  display: flex;
  width: 60vw;
  height: auto;
  background-color: rgba(255,255,255,0.9);
  align-self: center;
  padding: 25px;
  letter-spacing: 0;
}

.fullpage-wrapper {
width: 80vw;
float: right;
}

.about_me_wrapper {
  display: block;
  align-self: flex-start;
  width: 60%;
}

.about_me_text p {
margin-top: 25px;
padding-right: 25px;
}

.about_picture {
  width: 100%;
}

.my_work_wrapper {
  width: 100%;
}

.my_work_image {
  width: 25%;
  height: 25%;
}

.skill_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.circle_content {
  display: flex;
  justify-content: center;
  position: relative;
}
.progress > svg {
    height: 100%;
    display: block;
}

.circle_text {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  text-align: center;
  width: 50%;
}

.form_horizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_field {
  width: 100%;
  height: 25px;
}

.my-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: block;
  float: left;
}
